@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
$white-color: #ffffff;
@mixin font-prop($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}
html, body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #172938;
}

.visually-hidden {
  display: none;
}

.vidget {
  max-width: 696px;
  min-width: 580px;
  display: grid;
  grid-template-columns: 9% 23% 21% 16% 25% 6%;
  grid-template-rows: 70px 128px 25px 107px 75px 30px;
  margin: 20px auto;
  background-color: #dcdfe1;
  background-image: url("src/paris.jpg");
  background-repeat: no-repeat;
  color: $white-color;
  &__container {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 5 / 7;
    padding: 0 9%;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
  }
}

.weather {
  display: grid;
  grid-column: 4 / 6;
  grid-row: 2 / 5;

  &__status {
    grid-column: 2 / 3;
  }

  &__date {
    grid-column: 1 / 2;
  }
  &__day {
    @include font-prop(30px, 34px, 300);
  }
  &__mounth-day {
    @include font-prop(14px, 18px, 400);
  }
  &__degrees {
    @include font-prop(92px, 86px, 800);
  }
  &__place {
    margin: 2px 0 20px;
    @include font-prop(22px, 26px, 300);
  }
  &__wind {
    grid-column: 2 / 3;
    @include font-prop(26px, 30px, 800);
  }
  &__mph{
    @include font-prop(14px, 18px, 700);
  }
  &__wind-info {
    display: grid;
    grid-template-columns: 56px 70px;
  }
  &__wind-img {
    grid-column: 1 / 2;
  }
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-content: center;
  padding: 1% 4% 2%;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    &:not(:last-child) {
      border-right: 1px solid rgba(255,255,255,0.5);
    }
  }
  &__title, &__degrees {
    @include font-prop(16px, 20px, 300);
  }
  &__img {
    margin: 6px 0;
  }
}

@media screen and (max-width: 600px) {
  .weather {
    &__status {
      grid-column: 1 / 3;
    }
    &__date {
      grid-column: 1 / 3;
    }
  }

  .vidget {
    min-width: 460px;
    grid-template-columns: 9% 23% 21% 16% 25% 6%;
    grid-template-rows: 70px 128px 25px 107px 75px 30px;
    background-repeat: no-repeat;
    &__container {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}


@media screen and (max-width: 480px) {
  .weather {
    justify-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    background-color: rgba(0, 0, 0, 0.3);
    &__status {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 1 / -1;
    }
    &__date {
      grid-column: 1 / -1;
    }
    &__day {
      @include font-prop(24px, 28px, 300);
    }
    &__mounth-day {
      @include font-prop(8px, 12px, 400);
    }
    &__degrees {
      @include font-prop(78px, 70px, 800);
    }
    &__place {
      @include font-prop(16px, 20px, 300);
    }
    &__wind {
      @include font-prop(20px, 24px, 800);
    }
    &__mph{
      @include font-prop(8px, 12px, 700);
    }
    &__wind-info {
      justify-items: center;
    }
  }

  .vidget {
    min-width: 280px;
    padding: 0;
    background-position: left;
    &__container {
      grid-row: 4 / 7;
    }
    &__svg {
      display: none;
    }
    &__container {
      grid-column: 1 / -1;
    }
  }
  .days {
    &__item {
      min-width: 70px;
      background-color: rgba(255,255,255,0.2);
      &:not(:last-child) {
        border: 0;
      }
      border: 0;
    }
  }
}